@charset "UTF-8";
/* Normilise */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ====================================  */
* {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

a,
a:focus,
a:active,
a:link,
a:visited {
  font-size: 1.3rem;
  font-weight: bold;
  color: #4bb5ee;
}

.table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: transparent;
  position: relative;
  border-collapse: collapse;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
}

thead th {
  position: sticky;
  top: 0;
  margin-top: -1px;
  text-align: start;
}

thead th::after {
  content: " ⯆";
}

table tr td {
  height: 100px;
}

table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  vertical-align: middle;
}

tbody {
  position: relative;
  top: 50px;
}

.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

td:nth-child(3)::after,
td:nth-child(4)::after,
td:nth-child(5)::after {
  content: " см";
}

td img {
  max-width: 100px;
  transition: 1s;
}

/* ================== MODAL ======================  */
.modal-bg {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.808);
}

.modal-body {
  z-index: 200;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  transition: 2s;
  object-fit: cover;
  /* background-color: rgba(190, 25, 25, 0.705); */
}

.modal-img {
  /* height: 100%;
  width: 100%; */
  object-fit: contain;
}

/* .modal-img_height{
	height: 100%;
	width: auto;
}

.modal-img_width{
	height: auto;
	width: 100%;
} */
.close-btn {
  z-index: 300;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  font-size: 4rem;
  text-align: center;
}

.close-btn svg {
  height: 100%;
  width: 100%;
}

.modal-body_visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========== HOVERS ================ */
a:hover {
  color: #9dddff;
}

a:active {
  color: #27aef6;
}

thead.thead-light th:hover {
  background-color: #d1d2d3;
  cursor: pointer;
}

td img:hover {
  cursor: pointer;
}

.close-btn:hover {
  cursor: pointer;
}

/* ------------------ OTHERS ---------- */
/* =========== MEDIA ============= */
@media screen and (max-width: 700px) {
  .modal-body {
    min-width: 90%;
    min-height: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
