@charset "UTF-8";
/* ============= IMPORTS ===============  */
/* Normilise */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active,
a:link,
a:visited {
  font-size: 1.3rem;
  font-weight: bold;
  color: #4bb5ee;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: #9dddff;
}

a:active {
  color: #27aef6;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: transparent;
  position: relative;
  border-collapse: collapse;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
}

thead th {
  position: sticky;
  top: 0;
  margin-top: -1px;
  text-align: start;
}

thead th::after {
  content: " ⯆";
}

table tr td {
  height: 100px;
}

table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  vertical-align: middle;
}

tbody {
  position: relative;
  top: 50px;
}

.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

td img {
  max-width: 100px;
  transition: 1s;
}

thead.thead-light th:hover {
  background-color: #d1d2d3;
  cursor: pointer;
}

td img:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .table,
.table * {
    font-size: 0.95em !important;
  }

  .table .thead-light th {
    padding: 10px 2px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.input-block {
  display: flex;
  width: 100%;
  padding: 10px 5px;
}
.input-block__label {
  width: 20%;
  padding: 0 10px;
  text-align: center;
}
.input-block__input-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  opacity: 0.5;
  padding: 0 10px;
  transition: 0.5s ease 0.5s;
}
.input-block__input-wrapper_error {
  margin-bottom: 15px;
}
.input-block__input-wrapper:focus-within {
  z-index: 100;
  opacity: 1;
  transform: scale(1.3) translateX(-10%);
}
.input-block__input-wrapper:focus-within .input-block__input {
  opacity: 1;
}
.input-block__input {
  width: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ddd;
  opacity: 0.7;
}
.input-block__input_error {
  border: 1px solid red;
  box-shadow: 0px 0 4px 0px red;
}
.input-block__input::-webkit-input-placeholder {
  color: #bbbbbb;
}
.input-block__input::-moz-placeholder {
  color: #bbbbbb;
}
.input-block__input:-ms-input-placeholder {
  color: #bbbbbb;
}
.input-block__input:-moz-placeholder {
  color: #bbbbbb;
}
.input-block__submit {
  width: 10%;
  opacity: 0.5;
  border-radius: 10px;
  background-color: coral;
}
.input-block__submit:hover {
  opacity: 1;
  cursor: pointer;
}
.input-block__submit:active {
  opacity: 0.7;
}
.input-block__error {
  opacity: 0;
  position: absolute;
  bottom: -15px;
  padding: 5px 0 0 5px;
  color: red;
  font-size: 13px;
}
.input-block__error_active {
  opacity: 1;
  transition: 0.5s 0.5s;
}

/* ================== MODAL ======================  */
.modal-bg {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.808);
}

.modal-body {
  z-index: 200;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  transition: 2s;
  object-fit: cover;
  /* background-color: rgba(190, 25, 25, 0.705); */
}

.modal-img {
  /* height: 100%;
  	width: 100%; */
  object-fit: contain;
}

/* .modal-img_height{
		height: 100%;
		width: auto;
	}

	.modal-img_width{
		height: auto;
		width: 100%;
	} */
.close-btn {
  z-index: 300;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  font-size: 4rem;
  text-align: center;
}

.close-btn svg {
  height: 100%;
  width: 100%;
}

.modal-body_visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  cursor: pointer;
}

/* ------------------ OTHERS ---------- */
/* =========== MEDIA ============= */
@media screen and (max-width: 700px) {
  .modal-body {
    min-width: 90%;
    min-height: 90%;
  }

  .input-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-block__label, .input-block__input-wrapper {
    width: 100%;
    padding-bottom: 10px;
  }
  .input-block__label:focus-within, .input-block__input-wrapper:focus-within {
    transform: unset;
  }
}

/*# sourceMappingURL=style.css.map */
