
:host {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4e4e4e;
  border-radius: 5px;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  h1 {
    flex-grow: 0.3;
    text-align: center;
  }

  h3 {
    margin: 0;
  }

  button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
  }

  .counter {
    font-size: 40px;
    font-family: 'Arial Black', serif;
    color: #00b0ff;
  }

  .message {
    max-width: 295px;
    font-size: 30px;
    resize: none;
    font-family: Arial, serif;
    color: #1de9b6;
  }

  .data{
    font-size: 14px;
    color: #e9e584;
  }
}
