# folders
/git_learn/folder for ignore
/git_learn/folder for ignore
Java_Professional/**/out/

**/node_modules
# files

*.idea
*.iml
*.pdf
*.xps
#  *.jpg
#  *.jpeg
#  *.png
#  *.gif
*.rar
!OTHERS/SETTINGS/**
*.zip
!OTHERS/SETTINGS/**

*.exe


