*{
	font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}

html, body{
	padding: 0;
	margin: 0;
}

.container, .article, .body{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
}


/* ==============HEADER================= */

.header{
	width: 100%;
	/* min-height: 200px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: lightgray;
	background-image: url("../img/header-2.jpg");
	background-position: center;
	background-repeat: no-repeat;	
	background-size:  cover;
}

.header .main-news{
	width: 100%;
	height: 25%;
	background-color: rgba(255, 255, 255, .7);
	
	display: flex;
	flex-flow: row 	;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px ;
	box-sizing: border-box;
}

.main-news p{
	width: 70%;
	font-size: 0.9rem;
}

.main-news p span{
	color: red;
	font-weight: bold;
}
	/* Застилизовать кнопкуб спан и создать формочки */
.btn{
	width: 150px;
	height: 50%;
	background-color: brown;
	margin-right: 15px;
	border: 1px solid rgb(145, 36, 36);
}
/* ==============BODY================= */


.body{
	/* flex-wrap: nowrap; */
}
.section, .nav{

	min-height: 300px;
}
.section{
	width: 65%;
	background-color: lightblue;
}

.nav{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-content: flex-start;
	width: 35%;
	background-color: lightgreen;
}


.nav-item-block{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 20%;
	min-height: 100px;
	background-color: lightsalmon;
	margin: 10px;
	
	/* box-sizing:initial; */
}
.login-item{
	justify-content: flex-end;
	height: 175px;
	
}
.nav-item-block h4{
	color: brown;
	font-weight: bold;
	margin: 10px 0;
	font-size: 18px;
}
.nav-item-block label{
	font-weight: bold;
	margin-top: 10px;
}
.nav-item-block label span{
	font-weight: bold;
	color: brown;
}
.nav-item-block input{
	width: 140px;
	height: 25px;
}
.nav-item-block a{
	font-size: 16px;
	font-weight: bold;
	color: brown;
	text-decoration: none;
	margin-top: 10px;
}



.btn-login{
	width: 90px;
	height: 40px;
	margin-top: 20px;
}

.navigation{
	width: 100%;
}
.navigation details{
	color: black;
}

.navigation span{
	color: brown;
}

.navigation ul{
	padding-left: 20px;
}

.article{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	background-color: violet;
	min-height: 150px;
	margin-top: 15px;
}

.article-name{

}

.article-name h4{
	padding: 0;
	margin: 15px 15px 5px;
}

.article-name p{
	margin: 5px 15px;

}


.article-body{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.thumbnail{
	width: 30%;
	min-height: 150px;	
	display: flex;
	align-items: flex-start;
	padding: 0 10px;
	box-sizing: border-box;
}

.thumbnail img{
	width: 100%;
}

.article-text{

	background-color: cyan;
	min-height: 200px;
	width: 70%;
	box-sizing: border-box;
	padding: 10px;
	/* flex-grow: 0; */
	
}

.status-bar{
	width: 95%;
	min-height: 10px;
	background-color: brown;
	align-self: flex-start;
	padding: 5px;
	font-size: 0.75rem;
}

.status-bar a{
	color:  #fff;
	margin-left: 10px;
	font-weight: bold;
	text-decoration: none;
}
.status-bar span{
	color:  #fff;
	margin-left: 10px;
}