:host {
  position: absolute;
}

h3, h4, h5 {
  text-align: center;
}

.btn-info {
  border-style: none;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &_light {
    &:hover{
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
    }
    &:active{
      filter: none;
    }
  }

  &_dark {
    &:hover{
      filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
    }
    &:active{
      filter: none;
    }
  }
}

.image {
  text-align: center;
}

footer {
  text-align: center;

  .btn-confirm {
    width: 10em;
  }
}

@media (min-width: 768px) {
  dialog article {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
dialog article {
    max-width: 1000px;
  }
}
