*{
	font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}

html, body{
	padding: 0;
	margin: 0;
}

.container, .article{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
}

.f-item{
	text-align: center;
	color: white;
	/* flex-basis: 100px; */

}

.header{
	width: 100%;
	/* min-height: 200px; */
	
	background-color: lightgray;
	background-image: url("../img/header-2.jpg");
	background-position: center;
	background-repeat: no-repeat;	
	background-size:  cover;
}


.section, .nav{

	min-height: 300px;
}
.section{
	width: 65%;
	background-color: lightblue;
}

.nav{
	min-width: 35%;
	background-color: lightgreen;
}

.nav-flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-content: flex-start;
}

.nav-item-block{

	width: 40%;
	height: 100px;
	background-color: lightsalmon;
	margin: 10px;
	/* box-sizing:initial; */
}

.align-bottom{
	width: 70px;
}

.article{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	background-color: violet;
	min-height: 150px;
	margin-top: 15px;
}

.article-name{

}

.article-name h4{
	padding: 0;
	margin: 15px 15px 5px;
}

.article-name p{
	margin: 5px 15px;

}


.article-body{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.thumbnail{
	width: 30%;
	min-height: 150px;	
	display: flex;
	align-items: flex-start;
	padding: 0 10px;
	box-sizing: border-box;
}

.thumbnail img{
	width: 100%;
}

.article-text{

	background-color: cyan;
	min-height: 200px;
	width: 70%;
	box-sizing: border-box;
	padding: 10px;
	/* flex-grow: 0; */
	
}

.status-bar{
	width: 95%;
	min-height: 10px;
	background-color: brown;
	align-self: flex-start;
	padding: 5px;
	font-size: 0.75rem;
}

.status-bar a{
	color:  #fff;
	margin-left: 10px;
	font-weight: bold;
	text-decoration: none;
}
.status-bar span{
	color:  #fff;
	margin-left: 10px;
}