html, body{
	padding: 0;
	margin: 0;
}

.container{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: center;
}

.f-item{
	text-align: center;
	color: white;
	/* flex-basis: 100px; */

}

.header{
	width: 100%;
	height: 100px;
	background-color: lightgray;
}


.section, .nav{

	min-height: 300px;
}
.section{
	min-width: 65%;
	background-color: lightblue;
}

.nav{
	min-width: 35%;
	background-color: lightgreen;
}

.nav-flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.nav-item-block{
	width: 50px;
	height: 100px;
	background-color: lightsalmon;
	margin: 10px;
}

.align-bottom{s
	align-self: ;
	width: 70px;
}