.table {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1rem;
	background-color: transparent;
	position: relative;
	border-collapse: collapse;
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	padding: 0.75rem;
}

thead th {
	position: sticky;
	top: 0;
	margin-top: -1px;
	text-align: start;
}

thead th::after {
	content: " ⯆";
}

table tr td {
	height: 100px;
}

table td {
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	vertical-align: middle;
}

tbody {
	position: relative;
	top: 50px;
}

.table-fixed tbody {
	overflow-y: auto;
	width: 100%;
}

//  ПОСТФИКСЫ для размеров (см)

// td:nth-child(3)::after,
// td:nth-child(4)::after,
// td:nth-child(5)::after {
// 	content: " см";
// }

td img {
	max-width: 100px;
	transition: 1s;
}

thead.thead-light th:hover {
	background-color: #d1d2d3;
	cursor: pointer;
}

td img:hover {
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.table,
	.table * {
		font-size: 0.95em !important;
	}

	.table .thead-light th {
		padding: 10px 2px;
	}
}
