<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
</head>
<body>

	<template id="templateWrapper">

		<div class="schedule-s2__body_month-block">
			<div class="schedule-s2__body_month-block_title header-text">

			</div>

			<table id="courses-table" class="courses-table month1-for-js">
				<tr class="courses-table__header">
					<th class="courses-table__header-item">Курс программирования</th>
					<th class="courses-table__header-item schedule-s2__table-header-date">Дата старта</th>
					<th class="courses-table__header-item">Время</th>
					<th class="courses-table__header-item schedule-s2__table-header-length">Продолжительность</th>
					<th class="courses-table__header-item courses-table__header-item">Локация</th>
					<th class="courses-table__header-item">Месяц</th>
					<th class="courses-table__header-item"></th>
				</tr>

			</table>
		</div>

	</template>

	<script src="script2.js"></script>
</body>
</html>