form{
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;	
}

form div{ 
	margin: 0 auto;
	padding: 10px 70px ;
	position: relative;
	background-color: rgb(190, 225, 236);
	border-radius: 15px;
	opacity: .5;
}

.submit{
	width: 53%;
	height: 30px;

}

.inp-text{
	width: 100%;
}

#message{
	text-align: center;
	font-weight: bold;
}